{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:cancelVisit{% endblock %}

{% block body %}
    <div style="text-align: center">
        <h1>Wybierz wizytę, którą chcesz odwołać:</h1>
        <ul>
            {% for visit in visits %}
                <li>
                    {{ visit.day }}/{{ visit.month }}/{{ visit.year }}r. godz. {{ visit.hour }}
                    <a href="{{ path('cancelVisitFinal', {'id': visit.id}) }}"><button>Odwołaj</button></a><br>
            {% endfor %}
        </ul>
    </div>
{% endblock %}