{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:changeVisitDay{% endblock %}

{% block body %}
    {% block topMenu %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid">
        {{ include('upperBar.html.twig') }}
        <div class="row center large">
            <h1>Wizyta z dnia: {{ visit.day }}/{{ visit.month }}/{{ visit.year }} r. o godzinie: {{ visit.hour }} została odwołana!</h1>
            <a href="{{ asset('main') }}"><button>OK</button></a>
        </div>
    </div>
{% endblock %}