{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:selectHour{% endblock %}

{% block body %}
    <div style="margin-left: 30%; margin-right: 30%; margin-top: 5%">
        <h2 style="text-align: center">Krok 3: Wybierz godzinę wizyty:</h2>
        {% if noDay == 2 %}
            <h2>Wtorek {{ day }}.{{ month }}.{{ year }}</h2>
            {% set k = 1400 %}
            {% if visitType == 'diab' %}
                {% for i in 1..9 %}
                    {% set dietVisit = k - 50 %}
                    {% if  k|baseConvert in diabArray or  k|baseConvert  in dietArray or dietVisit|baseConvert in dietArray %}
                        <div class="day reserved">{{ k|baseConvert }}</div>
                    {% else %}
                        <a href="{{ path('patientData', {'hour': k|baseConvert}) }}"><div class="day free">{{ k|baseConvert }}</div></a>
                    {% endif %}
                    {% set k = k + 50 %}
                {% endfor %}
            {% else %}
                {% for i in 1..8 %}
                    {% set dietVisit = k - 50 %}
                    {% set dietVisit2 = k + 50 %}
                    {% if  k|baseConvert in diabArray or dietVisit2|baseConvert in diabArray or  k|baseConvert  in dietArray or dietVisit|baseConvert in dietArray or dietVisit2|baseConvert in dietArray %}
                        <div class="day reserved">{{ k|baseConvert }}</div>
                    {% else %}
                        <a href="{{ path('patientData', {'hour': k|baseConvert}) }}"><div class="day free">{{ k|baseConvert }}</div></a>
                    {% endif %}
                    {% set k = k + 50 %}
                {% endfor %}
            {% endif %}
{#---------------------------------------------------------------------------------------------#}
        {% else %}
            <h2>Czwartek {{ day }}.{{ month }}.{{ year }}</h2>
            {% set k = 1400 %}
            {% if visitType == 'diab' %}
                {% for i in 1..9 %}
                    {% set dietVisit = k - 50 %}
                    {% if  k|baseConvert in diabArray or  k|baseConvert  in dietArray or dietVisit|baseConvert in dietArray %}
                        <div class="day reserved">{{ k|baseConvert }}</div>
                    {% else %}
                        <a href="{{ path('patientData', {'hour': k|baseConvert}) }}"><div class="day free">{{ k|baseConvert }}</div></a>
                    {% endif %}
                    {% set k = k + 50 %}
                {% endfor %}
            {% else %}
                {% for i in 1..8 %}
                    {% set dietVisit = k - 50 %}
                    {% set dietVisit2 = k + 50 %}
                    {% if  k|baseConvert in diabArray or dietVisit2|baseConvert in diabArray or  k|baseConvert  in dietArray or dietVisit|baseConvert in dietArray or dietVisit2|baseConvert in dietArray %}
                        <div class="day reserved">{{ k|baseConvert }}</div>
                    {% else %}
                        <a href="{{ path('patientData', {'hour': k|baseConvert}) }}"><div class="day free">{{ k|baseConvert }}</div></a>
                    {% endif %}
                    {% set k = k + 50 %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}