{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:show{% endblock %}

{% block body %}
<h1>Welcome to the Register:show page</h1>
    <h2 style="text-align: center">Krok 1: Wybierz dzień wizyty:</h2>
    {{ calendar.showCalendar }}
    <div id="calendar" style="margin-left: 25%; margin-right: 25%;">
        <form action="{{ asset('selectDay') }}" method="post">
            <select style="margin-right: 53%" name="selectMonth" onchange="form.submit()" id="monthSelection" month="{{ calendar.getMonth }}">
                <option value="01" id="jan" >Styczeń</option>
                <option value="02" id="feb" >Luty</option>
                <option value="03" id="mar" >Marzec</option>
                <option value="04" id="apr" >Kwiecień</option>
                <option value="05" id="may" >Maj</option>
                <option value="06" id="jun" >Czerwiec</option>
                <option value="07" id="jul" >Lipiec</option>
                <option value="08" id="aug" >Sierpień</option>
                <option value="09" id="sep" >Wrzesień</option>
                <option value="10" id="oct" >Październik</option>
                <option value="11" id="nov" >Listopad</option>
                <option value="12" id="dec" >Grudzień</option>
            </select>
            <select name="selectYear" onchange="form.submit()" id="yearSelection" year="{{ calendar.getYear }}">
                <option value="2017" id="2017">2017</option>
                <option value="2018" id="2018">2018</option>
            </select>
        </form>
        <table id="calendarTable" style="border: solid 1px black">
            <tr style="background-color: yellowgreen; font-size: 130%">
                <th class="days">Pn</th>
                <th class="days">Wt</th>
                <th class="days">Śr</th>
                <th class="days">Cz</th>
                <th class="days">Pt</th>
                <th class="days">Sb</th>
                <th class="days">Nd</th>
            </tr>
            {% set day = 1 %}
            {% for i in 1..calendar.getNumberOfWeeksInMonth %}
                {% if i % 2 == 0 %}
                    <tr style="background-color: aquamarine">
                {% else %}
                    <tr style="background-color: #aacd4e">
                {% endif %}
                    {% for j in 1..7 %}
                        {% if (j < calendar.getFirstDayInMonth and i == 1)  or (j > calendar.getDaysInMonth and i == 1) %}
                            <td></td>
                        {% elseif day < calendar.getDaysInMonth + 1 %}
                            {% if j == 2 or j == 5 %}
                                <td style="font-size: 120%">
                                    <a href="{{ path('selectVisitType', {'year': calendar.getYear, 'month': calendar.getMonth, 'day': day}) }}" style="text-decoration: none">
                                        <b>{{ day }}</b>
                                    </a>
                                </td>
                            {% else %}
                                <td>{{ day }}</td>
                            {% endif %}
                            {% set day = day + 1 %}
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{#href="{{ path('selectSuborder', {'id': suborder.id, 'selection': selection}) }}">#}