{% extends "::base.html.twig" %}

{% block title %}PatientBundle:Register:Podsumowanie{% endblock %}

{% block body %}
    <div id="visitSummary">
        <h2>Podsumowanie wizyty:</h2>
        <div class="left" style="float: left">
            <p>Imię:</p>
            <p>Nazwisko:</p>
            <p>Rodzaj wizyty:</p>
            <p>Data Wizyty:</p>
            <p>Godzina:</p>
        </div>
        <div class="right" style="float: left; margin-left: 50px">
            <p>{{ appointment.getName }}</p>
            <p>{{ appointment.getSurname }}</p>
            <p>{% if appointment.getVisitType == 'diab' %}
                    Diabetologiczna
                {% else %}
                    Dietetyczna
                {% endif %}
            </p>
            <p> {{ appointment.getDay }}/{{ appointment.getMonth }}/{{ appointment.getYear }} r.</p>
            <p>{{ appointment.getHour }}</p>
        </div>
    </div>
{% endblock %}