{% extends "::base.html.twig" %}

{% block title %}PatientBundle:AdminPanel:blockedDay{% endblock %}

{% block body %}
    <div>
        {% if day is defined %}
            <h1>Dzień {{ day.day }}/{{ day.month }}/{{ day.year }}r. został zablokowany!</h1>
            <a href="{{ asset('admin') }}"><button>OK</button></a>
        {% else %}
            <h1>Dzień {{ dayToUnblock.day }}/{{ dayToUnblock.month }}/{{ dayToUnblock.year }} r. został odblokowany</h1>
            <a href="{{ asset('admin') }}"><button>OK</button></a>
        {% endif %}
    </div>

{% endblock %}