{% extends "::base.html.twig" %}

{% block title %}PatientBundle:AdminPanel:cancelVisit{% endblock %}

{% block body %}
    {% block topMenu %}
        {{ parent() }}
    {% endblock %}
    <div class="container-fluid">
        {{ include ('upperBarAdmin.html.twig') }}
        <div class="row">
            <div class="col-md-12 center">
                <h1>Odwołano wizytę:</h1>
                <ul class="large">
                    <li>{{ visit.day }}/{{ visit.month }}/{{ visit.year }} r.</li>
                    <li>{{ visit.hour }}</li>
                    <li>{{ visit.surname }} , {{ visit.name }}</li>
                    <li>{{ visit.phone }}</li>
                </ul>
                <a href="{{ asset('admin') }}"><button>OK</button></a>
            </div>
        </div>
    </div>
{% endblock %}
